.container {
	display: flex;
	justify-content: center;
	background-color: rgb(248, 82, 82);
}

.container ul {
	display: flex;
	justify-content: space-between;
}

.widget{
	display:inline-block;
}

.p{
	display:inline-block;
	position: relative;
	bottom: -10px;
}